<h1 mat-dialog-title>Ajouter une image </h1>

<div mat-dialog-content>
    <div class="card-body max-height">
        <div class="row">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/camion0.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/forklift0.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/wc-.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/ouut0.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/extinc.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/rec1.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img1.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img2.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img3.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img4.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img5.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img6.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img7.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img8.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img9.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img10.svg" width="60px" height="60px">
            <img class="images-item" (click)="getImgPolaroid($event)"
                src="../../../../../assets/wms-images/fabric/img11.svg" width="60px" height="60px">
        </div>

    </div>
</div>

<div mat-dialog-actions class="float-right">
     <button class="mb-2 mr-2 btn btn-primary" (click)="close()">Fermer</button>

</div>